.about{
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.about-info{
    padding-top: 30px;
}

.about-img{
    padding-bottom: 50px;
    text-align: center;
}

.about-intro{
    color: #01b3f6;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
}

.intro-div{
    background-color: #FFF;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 190px;
}

.about-title{
    color: #01b3f6;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 100px;

}

.abt-title{
color: white;
}

