.about{
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-top: 150px;
}

.about-info{
    padding-top: 30px;
}

.about-img{
    padding-bottom: 50px;
}

.about-intro{
    color: #01b3f6;
    font-size: 20px;
    padding-left: 15px;
}

.intro-div{
    background-color: whitesmoke;
    padding-bottom: 40px;
    padding-left: 15px;
}