.nav{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    animation-name: fade;
    animation-duration: 10s;
    z-index: 100; 
    background-color: transparent;
    opacity: 0.98;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    
    }
    
    a, ul, li {
      list-style-type: none;
      text-decoration: none;
    }
    
    .logo{
     padding: 15px;
      margin: 0;
    }
       
    .facebook {
      color: #E7ECEF;
      border-radius: 50%;
    }
    
    .instagram {
      color: #E7ECEF;
      border-radius: 50%;
    }
    
    .linkedin {
      color: #E7ECEF;
      border-radius: 50%;
    }