
.home-info{
    color: #fff;
    position: absolute;
    left: 75%;
    margin-left: -75px;
    top: 0;
    margin-top: 50px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

.phone{
    width: 35%;
    height: 35%;
}

.home-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #AF0404;
}

.home-app{
    background-color: #142850;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20%;
    left: 69px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.home-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}

.home-app:hover{
    width: 80px;
    height: 80px;

}
.about-app{
    background-color: tomato;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20%;
    left: 157px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.about-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}

.about-app:hover{
    width: 80px;
    height: 80px;
}

.laptop-app{
    background-color: rgb(99, 218, 99);
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20%;
    left: 245px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.laptop-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}


.laptop-app:hover{
    width: 80px;
    height: 80px;
}

.service-app{
    background-color: orange;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 35%;
    left: 69px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.service-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}


.service-app:hover{
    width: 80px;
    height: 80px;
}

.support-app{
    background-color:mediumpurple;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 35%;
    left: 157px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.support-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}


.support-app:hover{
    width: 80px;
    height: 80px;
}

.service-app:hover{
    width: 80px;
    height: 80px;
}

.test-app{
    background-color:violet;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 35%;
    left: 245px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.test-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}

.test-app:hover{
    width: 80px;
    height: 80px;
}

.contact-app{
    background-color:rgb(62, 30, 243);
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 69px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.contact-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}

.contact-app:hover{
    width: 80px;
    height: 80px;
}

.login-app{
    background-color:rgb(228, 224, 5);
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 157px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.login-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}


.login-app:hover{
    width: 80px;
    height: 80px;
}

.store-app{
    background-color:rgb(240, 88, 0);
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 245px;
    text-align: center;
    border-radius: 30%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.store-icon{
    font-size: 30px;
    padding-top: 12px;
    color: white;
}

.store-app:hover{
    width: 80px;
} 


.type{
    position: absolute;
    top: 80%;
    color: white;
    left: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 5px;
}

.type-font{
    font-size: 30px;
}

.row1{
    position: absolute;
    left: 2.5%;
    top: 20%;
}

.row2{
    position: absolute;
    left: 2.5%;
    top: 35%;
}

.row3{
    position: absolute;
    left: 2.5%;
    top: 50%;
}


@media (max-width: 75em) {

    .phone, .serv-icon, .social{
        display: none;
    }

    .home-info{
        position: inherit;
    }

 
    }

    
body{
    background-color: black ;
}

.sun{
    color: yellow;
    font-size: 30px;
}
  
.row-intro{
    position: absolute;
    left: 0%;
    top: 60%;
    font-size: 19px;

}
.serv-icon{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.b-serv{
    color: 	#01b3f6;
}